.theme-id {
  color: var(--p-text-subdued, #637381);
}

[data-copy-theme-id] {
  cursor: pointer;
}

[data-copy-preview-url] {
  color: #084e8a;
  cursor: pointer;
  display: block;
  font-size: 12px;
  text-decoration: none;
}

.jira-ticket-url {
  color: #084e8a;
  text-decoration: none;
}

.suggestions-container {
  display: flex;
  margin: 1rem 0;
}

.suggestions-container button[data-theme-name-suggestion] {
  background: linear-gradient(180deg,#fff,#f9fafb);
  border: .1rem solid var(--p-border,#c4cdd5);
  box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
  border-radius: 3px;
  cursor: pointer;
  height: 26px;
  margin: 0 0.5rem 0 0;
}
